@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

html {
  transform: scale(0.8);
  transform-origin: 0 0;
  width: 125%; /* corrige o espaço restante */
  overflow: hidden;
}

.frame {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: linear-gradient(
    0deg,
    rgb(145, 53, 110) -20%,
    rgb(39, 2, 73) 20%,
    rgb(16, 0, 165) 100%
  ); /* Light background color */
  background-size: cover; /* Ensure the background image covers the entire frame */
  box-sizing: border-box;
}

.box {
  width: 400px;
  height: 400px;
  transition: 0.5s ease-in-out; /* Define a transition */
  opacity: 50%; /* Initial opacity */
  border-radius: 100%; /* Rounded corners */
  position: absolute; /* Positioning for overlap */
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 3px;
  font-weight: bolder;
}

.blue {
  background: linear-gradient(
    0deg,
    #0f03ff 0%,
    #5858ff 35%,
    rgb(211, 255, 141) 100%
  ); /* Gradient background */
  top: 50%;
  left: 70%;
  translate: -50% -50%;
}

.red {
  background: linear-gradient(
    0deg,
    #ff3191 0%,
    rgb(161, 100, 121) 35%,
    rgb(211, 255, 141) 100%
  ); /* Gradient background */
  top: 65%;
  left: 70%;
  translate: -90% -50%;
}

.green {
  background: linear-gradient(
    0deg,
    #18ffb2 0%,
    rgb(98, 168, 136) 35%,
    rgb(211, 255, 141) 100%
  ); /* Gradient background */
  top: 65%;
  left: 70%;
  translate: -10% -50%;
}

.box.hovered {
  transform: scale(1.3, 1.5);
  transform-origin: bottom; /* Set transform origin to top */
  border-radius: 20px; /* Change border radius */
  opacity: 80%; /* Increase opacity */
  z-index: +2; /* Bring to front */
}

.content {
  font-family: "Smooch Sans", sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  width: fit-content;
  display: inline-block;
  opacity: 0%;
  padding-inline: 13px;
  transition: color 0.9s ease, opacity 0.3s ease; /* Smooth transition for color and opacity */
}

.content:hover {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 900;
  color: #ffffff;
  /* espessura e cor da borda */
  cursor: pointer; /* Change cursor on hover */
  opacity: 100%;
  text-align: center;
  padding-inline: 13px;
}

.footer {
  font-family: "Smooch Sans", sans-serif;
  position: fixed;
  background: linear-gradient(
    0deg,
    rgb(1, 0, 39) 0%,
    rgb(0, 2, 99) 100%
  ); /* Dark background for contrast */
  color: #ff91d1; /* Light text color */
  padding: 10px; /* Internal spacing */
  text-align: center; /* Center-aligns content within the footer */
  width: 100%; /* Ensures the footer spans the full width */
  top: 90%;
}

.header {
  font-family: "Smooch Sans", sans-serif;
  background: linear-gradient(
    0deg,
    rgb(1, 0, 39) 0%,
    rgb(0, 2, 99) 100%
  ); /* Dark background for contrast */
  color: #ff91d1; /* Light text color */
  padding: 50px; /* Internal spacing */
  text-align: center; /* Center-aligns content within the footer */
  width: 120%; /* Ensures the footer spans the full width */
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
}
/* Styles for a "sticky footer" effect using Flexbox */
html,
body {
  display: flex;
  flex-direction: column; /* Arranges content and footer vertically */
  background-color: rgb(121, 120, 196);
  margin: 0;
}

.link-inteiro {
  position: absolute;
  inset: 0; /* ocupa todo o espaço da div */
  display: block;
}

.botao {
  position: absolute;
  padding-inline: 50px 40px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(0deg, rgb(52, 45, 255) 0%, rgb(8, 8, 49) 100%);
  border-radius: 10%;
  cursor: pointer;
  font-family: "Smooch Sans", sans-serif;
  font-weight: 900;
  font-size: 10px;
  opacity: 60%;
  text-decoration: none;
}
.botao:hover {
  opacity: 100%;
  border: #4c24ff 2px solid;
  text-decoration: none;
}
